/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    /*max-width: 280px;*/
}

.jumbotron {
    background-color: #25c2c7;
}



.SelectedRowStyle {
    background-color: #25c2c7;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#labelAttachment {
    padding: 0;
    margin-top: 5px;
    font-size: large;
}

#testcasecreate {
    margin-left: -15px;
    margin-right: -15px;
    width: 1200px;
}

.rowinformview {
    margin-bottom:6px;

}
#rowinformview2 {
    margin-left: -15px;
    margin-right: -15px;
    width: 1200px;
}

.tableformview {
    margin : 0px;
    padding:0px;
    width: 1170px;
}

.formviewnomargin {
margin:0px;
}

.tablegridview {
  margin-left: 0px;
  table-layout:fixed;
 
  word-wrap:break-word;

}

.col
{
  width:100px;
  word-wrap:hyphenate;
  text-wrap:normal;
}

.images {

    margin: 3px;
}

.forselect {
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px ;
}


.form-control {
    margin-bottom:6px;
    width:100%;
}
.titlemantest {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom : 20px;
}
.labelmantest {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom : 10px;
}





